.song-img--playlist {
    transition: all 0.5s ease;
    &:hover {
        transform: scale(1.2);
    }
}
.play-icon-list {
    opacity: 0;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transition: opacity 0.5s ease;
    transform: translate(-50%, -50%);
}

.play-description {
    color: #9aa5b5;
}
.play-icon {
    top: 35%;
    transform: translateX(-35%);
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.song-img {
    &:hover {
        opacity: 0.7;
    }
    &:hover ~ .play-icon {
        opacity: 1;
    }
    &:hover ~ .play-icon-list {
        opacity: 1;
    }
}
.play-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}
.play-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}
